.productoCard{
    background-color:var(--clr-blanco);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);

}
.productoCard img{
    width: 100%;
    object-fit: cover;

}

.producto-descripcion-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.producto-descripcion-card a{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: var(--clr-oscuro);
    color: var(--clr-blanco);
    border-top: 1px solid var(--clr-oscuro);
    margin: 0rem;
    width: 100%;
}
.producto-descripcion-card 
a:hover {
    background-color:var(--clr-blanco);
    color: var(--clr-oscuro);
    transition: all .3s;
}
.producto-descripcion-card h3{
    color: var(--clr-oscuro);
    font-size: 1.5rem;
}
