.logo{
    width:150px;
}
.navbar-boostrap{
    display: flex;
    gap:45%;
}
.navbar-color{
    background-color: var(--clr-oscuro)!important;
}
.dropdown-item.active{
    background-color: var(--clr-claro)!important;
    color: var(--clr-negro);
}
@media screen and (max-width: 768px) {

    .navbar-boostrap{
      gap:0%;
      }
    
    }
  