h1,h4{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-style: italic;
}
.hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
min-height: 80vh;
background-image: url(); /*imagen de fondo berlini*/
}