*{
    margin: 0px;
    padding: 0px;
    font-style: oblique;
}
.contenido-principal{
    text-align: center;
    padding: 1rem;
}
.titulo-hero{
    padding: 3rem;
    text-align: center;
    background-color: var(--clr-oscuro);
    color: var(--clr-blanco);
}
.titulo-hero h2{
    color: var(--clr-claro)
}